<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--por defecto el ambito de un bean es singleton-->
	<bean id="personaDao" class="com.example.demo.PersonaDAOImpleMemory" init-method="init">
    </bean>
    
</beans>