<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="saludator" class="com.example.inyeccion.Saludator">
    <!--bean id="saludator" class="com.example.inyeccion.Saludator" autowire-candidate="false"-->
        <property name= "mensaje" value="Hola alumnos de openwebinars"></property>
    </bean>

    <bean id="EnglishSaludator" class="com.example.inyeccion.Saludator" primary="true">
    <!--bean id="saludator" class="com.example.inyeccion.Saludator" autowire-candidate="false"-->
        <property name= "mensaje" value="Hello OpenWebinars's students"></property>
    </bean>

    <bean id="emailService" class="com.example.inyeccion.EmailService" autowire="byType">
        <!--property name="saludatr" ref="saludator"></property-->
    </bean>

</beans>